{% for loan in loans %}
  <tr>
    <td>{{ loan.name }}</td>
    <td>{{ loan.amount }}</td>
    {% if loan.status == "ACCEPTED"  %}
      <td style="color: green;">{{ loan.status }}</td>
    {% elif loan.status == "DECLINED" %}
      <td style="color: red;">{{ loan.status }}</td>
    {% else %}
      <td>{{ loan.status }}</td>
    {% endif %}
    <td>{{ loan.timestamp }}</td>
  </tr>
{% endfor %}
