{% extends '../../base.html' %}

{% block header %}
  <a href="javascript:history.back()">Back</a>
{% endblock  %}

{% block content %}
  <form>
    <h1>Loan: {{loan.name|title}}</h1>
    <h2>Customer: {{ loan.user|title }}</h2>
    <p>Email: {{ loan.user.email }}</p>
    <p>Status: 
      <span 
        hx-swap="innerHTML"
        hx-get="{% url 'bank_app:get_loan_status' loan.pk %}"
        hx-trigger="loanUpdate from:body"
      >
        {% include '../../partials/employee/loan_status.html' %}
      </span>
    </p>
    <div 
      id="loan_actions"
      hx-swap="innerHTML"
      hx-get="{% url 'bank_app:get_loan_actions' loan.pk %}"
      hx-trigger="loanUpdate from:body"
    >
      {% include '../../partials/employee/loan_actions.html' %}
    </div>
  </form>
  <div id="loan_message"></div>
{% endblock %}