{% extends '../../base.html' %}

{% block content %}
<h1>
    Hello {{customer.user.first_name}}!
</h1>
<p>Rank: {{customer.rank}}</p>

<h2>Accounts</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is loan</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody
    id="accounts_list"
    hx-swap="innerHTML"
    hx-get="{% url 'bank_app:get_accounts_partial' customer.pk %}"
    hx-trigger="load, accountUpdate from:body"
  ></tbody>
</table>

<h2>Loans</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody
    id="accounts_list"
    hx-swap="innerHTML"
    hx-get="{% url 'bank_app:get_loans_partial' customer.pk %}"
    hx-trigger="load, loanUpdate from:body"
  ></tbody>
</table>

<h2>Transfer money</h2>
<form style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px;">
    {% csrf_token %}
    <input name="bank_registration_number" type="hidden" value="{{ bank_registration_number }}" />
    <fieldset>
        <legend>From</legend>
        <label style="display: flex; flex-direction: column; align-items: flex-start;">
            <span>Account</span>
            <select required name="from_account_id">
                <option value=""></option>
                {% for account in customer.accounts %}
                    {% if not account.is_loan%}
                        <option value="{{account.pk}}">{{account.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
        <label style="display: flex; flex-direction: column; align-items: flex-start;">
            <span>Text on account statement</span>
            <input required name="from_text" type="text" />
        </label>
        <label style="display: flex; flex-direction: column; align-items: flex-start;">
            <span>Amount</span>
            <input required name="amount" type="number" placeholder="Enter amount" />
        </label>
    </fieldset>
    <fieldset>
        <legend>To</legend>
        <div style="display: flex; gap: 10px;">
            <label style="display: flex; flex-direction: column; align-items: flex-start;">
                <span>Account</span>
                <select class="accounts" name="accounts">
                    <option value=""></option>
                    {% for account in customer.accounts %}
                    <option value="{{account.pk}}">{{account.name}}</option>
                    {% endfor %}
                </select>
            </label>
            <p>Or</p>
            <label style="display: flex; flex-direction: column; align-items: flex-start;">
                <span>Account number</span>
                <input required class="to_account_id" name="to_account_id" type="text" placeholder="Enter account number"/>
            </label>
            <label style="display: flex; flex-direction: column; align-items: flex-start;">
                <span>Registration number</span>
                <input required class="to_registraton_number" name="to_registraton_number" type="text" placeholder="Enter registration number"/>
            </label>
        </div>
        <label style="display: flex; flex-direction: column; align-items: flex-start;">
            <span>Text on receiver statement</span>
            <input name="to_text" type="text"/>
        </label>
    </fieldset>
    <button
        hx-post="{% url 'bank_app:create_transfer' %}"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target="#message"
    >Transfer</button>
    <div id="message"></div>
</form>

{% if customer.can_make_loan %}
    <h2>Request loan</h2>
    <form>
        {% csrf_token %}
        <input name="bank_registration_number" type="hidden" value="{{ bank_registration_number }}" />
        <fieldset>
            <label style="display: flex; flex-direction: column; align-items: flex-start;">
                <span>Amount</span>
                <input name="amount" type="number" placeholder="Enter amount"/>
            </label>
            <label style="display: flex; flex-direction: column; align-items: flex-start;">
                <span>Name on loan</span>
                <input name="name" type="text" placeholder="Enter name"/>
            </label>
            <div style="display: flex; gap: 10px;">
                <label style="display: flex; flex-direction: column; align-items: flex-start;">
                    <span>To account</span>
                    <select name="to_account_id">
                        <option value=""></option>
                        {% for account in customer.accounts %}
                            {% if not account.is_loan %}
                                <option value="{{account.pk}}">{{account.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
        </fieldset>
        <button
            hx-post="{% url 'bank_app:request_loan' %}"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="#loan_message"
        >
            Request loan
        </button>
        <div id="loan_message"></div>
    </form>
{% endif %}


<script defer>
    const select = document.querySelectorAll(".accounts");

    select.forEach(select => {
        const form = select.closest("form");
        
        select.addEventListener("change", (e) => {
            const accountNumberInput = form.querySelector(".to_account_id");
            const regNumberInput = form.querySelector(".to_registraton_number");
            const bankRegNumber = form.querySelector('input[name="bank_registration_number"]');
            
            regNumberInput.value = bankRegNumber.value;
            accountNumberInput.value = e.target.value;
        });
    });
</script>
{% endblock %}
