{% for account in accounts %}
  <tr onclick="window.location.href='{% url "bank_app:account_details" account.pk %}'" style="cursor: pointer;">
    <td>{{ account.name }}</td>
    <td>{{ account.is_loan }}</td>
    <td>{{ account.balance }}</td>
  </tr>
{% endfor %}
