{% if message %}
  <h4 style="color: {% if message.type == 'success'  %}green{% else %}red{% endif %}">
    {{ message.text }}
  </h4>
{% endif %}

{% if pdf_download %}
  <p>Download the receipt:<p/>
  <a href="{% url 'bank_app:download_receipt' transaction_id %}" target="_blank"><button type="button">Download as Pdf</button></a>
{% endif %}