<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://classless.de/classless-tiny.css" />
    <title>{{ bank_name|default:"Bank" }}</title>
    <style>
      td, th {
        text-align: left;
      }

      button {
        border: none;
        padding: 5px 10px;
      }

      button:is(:hover, :focus){
        filter: brightness(85%);
      }
    </style>
  </head>
  <body>
    <header style="display: flex; flex-wrap: wrap; gap: 1rem;">
      {% block header %}
      {% endblock %}
      <a href="{% url 'bank_app:logout' %}">Log out</a>
      {{ bank_name }}
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer style="height: 30px;"></footer>
    <script defer src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script defer>
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      });
    </script>
  </body>
</html>
