{% extends '../base.html' %} 

{% block header %}
  <a href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <h1>
    Account: {{account.name|title}} 
    {% if account.is_loan %}
      (Loan)
    {% endif%}
  </h1>

  <h3>Account number: {{account.pk}}</h3>

  <h2>Account movements</h2>
  <table>
    <thead>
      <tr>
        <th>Text</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody
      id="account_movements_list"
      hx-swap="innerHTML"
      hx-get="{% url 'bank_app:get_account_movements_partial' account.pk %}"
      hx-trigger="load"
    ></tbody>
  </table>

  <h3>Balance: {{account.balance}}</h3>
{% endblock %}