{% for customer in customers %}
    <tr onclick="window.location.href='{% url "bank_app:customer_details" customer.pk %}'" style="cursor: pointer;">
        <td>{{customer.pk}}</td>
        <td>{{customer.user.username}}</td>
        <td>{{customer.user.first_name}}</td>
        <td>{{customer.user.last_name}}</td>
        <td>{{customer.user.email}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.rank}}</td>
    </tr>
{% endfor %}
