{% for loan in loans %}
<tr onclick="window.location.href='{% url "bank_app:loan_details" loan.pk %}'" style="cursor: pointer;">
    <td>{{ loan.name }}</td>
    <td>{{ loan.amount }}</td>
    <td>{{ loan.user }}</td>
    {% if loan.status == "ACCEPTED"  %}
      <td style="color: green;">{{ loan.status }}</td>
    {% elif loan.status == "DECLINED" %}
      <td style="color: red;">{{ loan.status }}</td>
    {% else %}
      <td>{{ loan.status }}</td>
    {% endif %}
    <td>{{ loan.timestamp }}</td>
  </tr>
{% endfor %}
