{% if showActions %}
  <button 
    style="background-color: green; color: white;"      
    hx-post="{% url 'bank_app:set_loan_status' loan.pk 'ACCEPTED' %}"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="#loan_message"
  >
    Accept
  </button>
  <button 
    style="background-color: red; color: white;"      
    hx-post="{% url 'bank_app:set_loan_status' loan.pk 'DECLINED' %}"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="#loan_message"
  >
    Decline
  </button>
{% endif %}